# Medical Appointment No Shows Capstone

### 4. Pre-Processing And Training Data Development

In [25]:
import os

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [46]:
# SKLEARN
from sklearn.preprocessing import MinMaxScaler, StandardScaler, PowerTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [27]:
path = 'data/step2_output.csv'
df = pd.read_csv(path, index_col=None, parse_dates=["ScheduledDay","AppointmentDay"]) 
df.head()

,PatientId,AppointmentId,Gender,ScheduledDay,AppointmentDay,Age,Neighborhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSSent,NoShow,WaitingDays
0,29872499824296,5642903,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,-1
1,558997776694438,5642503,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,-1
2,4262962299951,5642549,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,-1
3,867951213174,5642828,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,-1
4,8841186448183,5642494,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,-1

In [28]:
df = df.drop(["PatientId","AppointmentId"],axis=1)

In [29]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110517 entries, 0 to 110516
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Gender          110517 non-null  object
 1   ScheduledDay    110517 non-null  datetime64[ns]
 2   AppointmentDay  110517 non-null  datetime64[ns]
 3   Age             110517 non-null  int64
 4   Neighborhood    110517 non-null  object
 5   Scholarship     110517 non-null  int64
 6   Hypertension    110517 non-null  int64
 7   Diabetes        110517 non-null  int64
 8   Alcoholism      110517 non-null  int64
 9   Handicap        110517 non-null  int64
 10  SMSSent         110517 non-null  int64
 11  NoShow          110517 non-null  object
 12  WaitingDays     110517 non-null  int64
dtypes: datetime64[ns](2), int64(8), object(3)
memory usage: 11.0+ MB
None

In [30]:
df.select_dtypes(include=[object])

       Gender       Neighborhood NoShow
0           F    JARDIM DA PENHA     No
1           M    JARDIM DA PENHA     No
2           F      MATA DA PRAIA     No
3           F  PONTAL DE CAMBURI     No
4           F    JARDIM DA PENHA     No
...       ...                ...    ...
110512      F        MARIA ORTIZ     No
110513      F        MARIA ORTIZ     No
110514      F        MARIA ORTIZ     No
110515      F        MARIA ORTIZ     No
110516      F        MARIA ORTIZ     No

[110517 rows x 3 columns]

## LabelEncoder

## df_le

In [20]:
df_le = df.loc[:, ['Gender', 'Neighborhood', 'NoShow']]

In [21]:
le = LabelEncoder()

df_le['Gender'] = le.fit_transform(df_le['Gender'])
df_le['Neighborhood'] = le.fit_transform(df_le['Neighborhood'])
df_le['NoShow'] = le.fit_transform(df_le['NoShow'])

# use df.apply() to apply le.fit_transform to all columns
#df = df.apply(le.fit_transform)

df_le.head()

   Gender  Neighborhood  NoShow
0       0            38       0
1       1            38       0
2       0            44       0
3       0            53       0
4       0            38       0

## df_2

In [22]:
df_le1 = df

In [23]:
le = LabelEncoder()

df_le1['Gender'] = le.fit_transform(df['Gender'])
df_le1['Neighborhood'] = le.fit_transform(df['Neighborhood'])
df_le1['NoShow'] = le.fit_transform(df['NoShow'])

df_le1.head()

,Gender,ScheduledDay,AppointmentDay,Age,Neighborhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSSent,NoShow,WaitingDays
0,0,2016-04-29 18:38:08,2016-04-29,62,38,0,1,0,0,0,0,0,-1
1,1,2016-04-29 16:08:27,2016-04-29,56,38,0,0,0,0,0,0,0,-1
2,0,2016-04-29 16:19:04,2016-04-29,62,44,0,0,0,0,0,0,0,-1
3,0,2016-04-29 17:29:31,2016-04-29,8,53,0,0,0,0,0,0,0,-1
4,0,2016-04-29 16:07:23,2016-04-29,56,38,0,1,1,0,0,0,0,-1

### Pandas Get_Dummies Approach

In [44]:
df_gd = pd.concat([df, 
                   pd.get_dummies(df[['Gender','Neighborhood','NoShow']], 
                   prefix=['G', 'N','Show'])], axis=1).drop(['Gender','Neighborhood','NoShow'], axis =1)
print(df_gd.shape)
df_gd.head()

(110517, 94)

,ScheduledDay,AppointmentDay,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSSent,WaitingDays,...,N_SOLON BORGES,N_SÃO BENEDITO,N_SÃO CRISTÓVÃO,N_SÃO JOSÉ,N_SÃO PEDRO,N_TABUAZEIRO,N_UNIVERSITÁRIO,N_VILA RUBIM,Show_No,Show_Yes
0,2016-04-29 18:38:08,2016-04-29,62,0,1,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,1,0
1,2016-04-29 16:08:27,2016-04-29,56,0,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,1,0
2,2016-04-29 16:19:04,2016-04-29,62,0,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,1,0
3,2016-04-29 17:29:31,2016-04-29,8,0,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,1,0
4,2016-04-29 16:07:23,2016-04-29,56,0,1,1,0,0,0,-1,...,0,0,0,0,0,0,0,0,1,0

# Export Data

In [11]:
df_le.to_csv('data/df_1_output.csv', index=False)

In [12]:
df_le1.to_csv('data/df_2_output.csv', index=False)

In [45]:
#Get_dummies data
df_gd.to_csv('data/df_gd_output.csv', index=False)