# Medical Appointment No Shows Capstone

# 5. DOCUMENTATION

- Review the Results
- Finalize Code
- Finalize Documentation

In [4]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
%matplotlib inline

In [18]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split as TTS

from sklearn.ensemble import RandomForestClassifier as RFC


import pandas.util.testing as tm
import xgboost as xgb

SEED =1

In [9]:
def load_dataframe():
    csv_path = os.path.join("data/df_ohe.csv")
    return pd.read_csv(csv_path)

In [10]:
df_ohe = load_dataframe()

In [11]:
df_ohe.head()

,Age,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSSent,WaitingDays,ScheduledHour,ScheduledDay_Y,...,AppointmentDayWeekName_5,ScheduledDayMonthName_1,ScheduledDayMonthName_2,ScheduledDayMonthName_3,ScheduledDayMonthName_4,ScheduledDayMonthName_5,ScheduledDayMonthName_6,ScheduledDayMonthName_7,AppointmentDayMonthName_1,AppointmentDayMonthName_2
0,62,0,1,0,0,0,0,0,18,2016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,56,0,0,0,0,0,0,0,16,2016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,62,0,0,0,0,0,0,0,16,2016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8,0,0,0,0,0,0,0,17,2016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,56,0,1,1,0,0,0,0,16,2016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

___

# Summary
This is Supervised Classification project to predict whether patients will show up to their appointment. The data was taken from patients who had their appointments from 11-10-2015 to  06-08-2016.

## Data Wrangling.
- Used a conditional statement to keep the ages of the patients between 0 to 100 years old.
- Created a new feature called ['WaitingDays'] that is the number of waiting days from day the appointment was scheduled until the actual day of the appointment. 
- Created a new features to return the time, hour, name of the week, and name of the month of the appointment and scheduled day.

### Model Performance:
ROC/AUC was used to determine the best model.

### Model Findings:
The most important features where: 
- 1. Age (0.177744)
- 2. WaitingDays (0.110100)
- 3. ScheduledHour (0.106352)
- 4. ScheduledDay_D (0.058988)
- 5. AppointmentDay_D (0.052590)
- 6. Gender_1 (0.031152)
- 7. SMSSent (0.014983)

### Best Model
#### Random Forest was the best model.

In [19]:
X = df_ohe.drop(['NoShow_1'], axis = 1)
y = df_ohe['NoShow_1']

SEED = 42
TS = 0.25

# Create training and test sets
X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size = TS, random_state=SEED, stratify=y)

#Feature Scaling to prevent information leakage
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

print (X_train.shape)
print (y_train.shape)
print (X_test.shape)
print (y_test.shape)

(82887, 112)
(82887,)
(27630, 112)
(27630,)

### Finalize Code

In [ ]:
import pickle
s = pickle.dumps(model)
from joblib import dump, load
dump(model, 'models/model.joblib')